includes:
    - phpstan-baseline.neon

parameters:
    ignoreErrors:
        - "#Called 'env' outside of the config directory#"
    level: 5
    paths:
        - src
        - config
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
