on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  github-releases-to-discord:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Discord Release Webhook
        uses: lettermint/action-discord-releases@v1.0.1
        with:
          webhook_url: ${{ secrets.DISCORD_RELEASE_WEBHOOK_URL }}
          color: "f55247"
          content: 'A new release for the Lettermint Laravel driver is now available! ||@Laravel||'
